.app-download{
    font-size: max(3vw,20px);
    text-align: center;
    font-weight: 800px;
    background-color: #3b3a3a;
    color: rgb(239, 232, 232);
    margin-top:40px;
    padding-top: 20px;
    font-weight: 400;
    border-top:10px solid #222;
    
}
.app-download-platform{
    gap: 20px;
    display: flex;
    justify-content: center;
}


.app-download-platform img{
    max-width:180px;
    transition: 0.5s;
    cursor: pointer;
    padding:15px;
}

.app-download-platform img:hover{
   
    transform: scale(1.1);
}

